@tailwind base; /* https://tailwindcss.com/docs/preflight */
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.test{
  color: #2FC7F4; /*Vivid sky blue*/
  color: #0AAFE8; /*Picton blue*/ 
  color: #51EFFF; /*Electric blue*/
  color: #025696; /*Lapis lazuli*/
  color: #023C70; /*Yale blue*/
  color: #F9AB47; /*Orange (web)*/
  color: #CA9C40 /*gold*/

}
